*{
	box-sizing: border-box;
}

input[type="checkbox"] {
	margin: 5px 5px 0 0;
}

html{
	height: 100%;
}

body{
	padding: 0;
	margin: 0;
	font: 12px "Roboto", sans-serif;
	height: 100%;
}

.table {
  display: flex;
  flex-flow: column nowrap;
  font-size: .8rem;
  line-height: 1.5;
  flex: 1 1 auto;
	background: #fff;
}

.tr {
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
	line-height: 24px;
  border-bottom: 1px solid #eee;
}

.tr-png {
	background: #ffbbce;
}

.tr-jpg {
	background: #fff3bb;
}

.tr-gif{
	background: #bbe5ff;
}

.tr-svg{
	background: #c1ffbb;
}

.tr-mp3{
	background: #d8bbff;
}

.tr-wav{
	background: #d8bbff;
}

.td {
  display: flex;
  flex-flow: row nowrap;
  flex-grow: 1;
  flex-basis: 0;
  word-break: break-word;
  overflow: hidden;
  text-overflow: ellipsis;
  min-width: 0px;
  white-space: nowrap;
	padding: 0 10px;
}

.preview{
	position: absolute;
	left: 0;
	top: 0;
	display: none;
	max-width: 90%;
}
.preview-img{
	margin: 0;
	padding: 0;
	max-width: 100%;
	border: none;
}

.preview-img-wrap{
	float: left;
	width: 50%;
}

.preview-img-wrap h4{
	color: #fff;
	text-align: center;
	padding: 0.15rem;
	margin: 0;
	font-weight: normal;
	border-bottom: 1px solid #333;
	background: #282828;
}

.preview-img-wrap:first-child h4{
	border-right: 1px solid #fff;
}

h2 {
	margin: 0;
	font-size: 14px;
	line-height: 24px;
}

.imagelist {
	float: left;
	width: 70%;
	height: 100%;
	background: url('./app-grey.png') center center no-repeat;
}
.settings {
	float: left;
	width: 30%;
	height: 100%;
	border-left: 1px solid #eee;
}

.settings h2{
	border-bottom: 1px solid #eee;
	padding-left: 10px;
}

.settings-list{
	margin: 0;
	padding: 0;
	list-style: none;
}

.settings-list .td{
}

.settings-list input[type="range"]{
	width: 100px;
}
